{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'web/styles/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Alice&family=Berkshire+Swash&family=Cinzel&family=Delius&family=EB+Garamond&family=Fredericka+the+Great&family=Great+Vibes&family=Gugi&family=Henny+Penny&family=Homemade+Apple&family=IBM+Plex+Serif&family=IM+Fell+English+SC&family=Julius+Sans+One&family=La+Belle+Aurore&family=Lemonada&family=Macondo&family=Old+Standard+TT:ital@0;1&family=Pinyon+Script&family=Rubik+Marker+Hatch&family=Rubik+Microbe&family=Satisfy&family=Tangerine&family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'web/styles/base-general.css' %}">
    <link rel="stylesheet" href="{% block stylesheet %}{% endblock %}">
</head>
<body>
    <header>
        <div class="title-container">
            <a href="{% url 'index' %}">
                <h1 id="Title">ONLY ONE</h1>
            </a>
        </div>
        <div class="accounts-container">
            <a href="{% url 'login' %}" class="login">Iniciar sesion</a>
            <a href="{% url 'signup' %}" class="signup">Registrarse</a>                        
        </div>
    </header>
    <main>{% block main %}{% endblock %}</main>
    <footer>
        <p class="centrado contact"><a href="{% url 'contact' %}">Contactanos</a><a href="https://instagram.com/maty__ldm" target="_blank"><img src="https://s-lol-web.op.gg/images/icon/icon-logo-instagram.svg?v=1698136448120"></a></p>
        <p class="centrado">© 2023. Todos los derechos reservados.</p>
    </footer>
</body>
</html>