<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Only One: página de contacto</title>
    <link rel="stylesheet" href="../../static/web/styles/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Alice&family=Berkshire+Swash&family=Cinzel&family=Delius&family=EB+Garamond&family=Fredericka+the+Great&family=Great+Vibes&family=Gugi&family=Henny+Penny&family=Homemade+Apple&family=IBM+Plex+Serif&family=IM+Fell+English+SC&family=Julius+Sans+One&family=La+Belle+Aurore&family=Lemonada&family=Macondo&family=Old+Standard+TT:ital@0;1&family=Pinyon+Script&family=Rubik+Marker+Hatch&family=Rubik+Microbe&family=Satisfy&family=Tangerine&family=Titillium+Web&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="title-container"> 
            <a href="{% url 'index'%}">
                <h1 id="Title">ONLY ONE</h1>
            </a>
        </div>
    </header>
    <main>
        <div class="contact-form">
            <h2>Danos tu opinion!</h2>
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo Electronico:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="mensaje">Mensaje:</label>
                    <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
        <div class="contact-info">
            <h2>Informacion de Contacto</h2>
            <p>Si tienes alguna pregunta o comentario, no dudes en contactarnos.</p>
            <p>Correo Electronico: weareonlyone@gmail.com</p>
            <p>Telefono: (011) 4237-6119</p>
        </div>
    </main>
    <footer>
        <p>© 2023. Pagina de Contacto.</p>
    </footer>
</body>
</html>