<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Only One: Apex Legends</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Alice&family=Berkshire+Swash&family=Cinzel&family=Delius&family=EB+Garamond&family=Fredericka+the+Great&family=Great+Vibes&family=Gugi&family=Henny+Penny&family=Homemade+Apple&family=IBM+Plex+Serif&family=IM+Fell+English+SC&family=Julius+Sans+One&family=La+Belle+Aurore&family=Lemonada&family=Macondo&family=Old+Standard+TT:ital@0;1&family=Pinyon+Script&family=Rubik+Marker+Hatch&family=Rubik+Microbe&family=Satisfy&family=Tangerine&family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../../static/web/styles/games.css">
</head>
<body>
    <header>
        <div class="title-container">
            <a href="{% url 'index' %}">
                <h1 id="Title">ONLY ONE</h1>
            </a>
        </div>
        <div class="accounts-container">
            <a href="{% url 'login' %}" class="login">Iniciar sesion</a>
            <a href="{% url 'signup' %}" class="signup">Registrarse</a>                        
        </div>
    </header>
    <nav>
        <a href="{% url 'leagueoflegends_players' %}" class="find-players">
            <h2 style="border-bottom: 1.5px rgb(49, 0, 135) solid;">Buscar jugadores</h2>
        </a>
        <a href="{% url 'leagueoflegends_groups' %}" class="find-group">
            <h2>Buscar grupo</h2>
        </a> 
    </nav>
    <main>
        <h3 class="groups-title">JUGADORES DISPONIBLES</h3>
        <form class="filter">
            <label>
                Servidor:
                <select name="servidor">
                    <option value="empty">...</option>
                    <option>NA</option>
                    <option>KR</option>
                    <option>LAS</option>
                    <option>LAN</option>
                    <option>EUW</option>
                </select>
            </label> 
            <label>
                Modo de juego:
                <select name="modo de juego" class="gamemode">
                    <option value="empty">...</option>
                    <option>SoloQueue</option>
                    <option>Flex</option>
                    <option>Normal</option>
                    <option>Aram</option>
                    <option>EUW</option>
                </select>
            </label>
            <input type="submit" value="Filtrar">
        </form>
        <section class="group-container">
            <article class="groups players">
                <div> 
                    <span>asd</span>
                </div>
                <div class="user">
                    nombre
                </div>
                <p class="discord">Discord: ...</p>
            </article>
            <article class="groups players">
                <div> 
                    <span>asd</span>
                </div>
                <div class="user">
                    nombre
                </div>
                <p class="discord">Discord: ...</p>
            </article>
            <article class="groups players">
                <div> 
                    <span>asd</span>
                </div>
                <div class="user">
                    nombre
                </div>
                <p class="discord">Discord: ...</p>
            </article>
            <article class="groups players">
                <div> 
                    <span>asd</span>
                </div>
                <div class="user">
                    nombre
                </div>
                <p class="discord">Discord: ...</p>
            </article>
            <article class="groups players">
                <div> 
                    <span>asd</span>
                </div>
                <p class="user">
                    nombre
                </p>
                <p class="discord">Discord: ...</p>
            </article>
            <article class="groups players">
                <div> 
                    <span>asd</span>
                </div>
                <div class="user">
                    nombre
                </div>
                <p class="discord">Discord: ...</p>
            </article>
            <article class="groups players">
                <div> 
                    <span>asd</span>
                </div>
                <div class="user">
                    nombre
                </div>
                <p class="discord">Discord: ...</p>
            </article>
            <article class="groups players">
                <div> 
                    <span>asd</span>
                </div>
                <div class="user">
                    nombre
                </div>
                <p class="discord">Discord: ...</p>
            </article>
            <article class="groups players">
                <div> 
                    <span>asd</span>
                </div>
                <div class="user">
                    nombre
                </div>
                <p class="discord">Discord: ...</p>
            </article>
        </section>
    </main>
    <!-- <script src="find-players.js"></script> -->
</body>
</html>